In [1]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("document_summaries.csv")

In [2]:
df.head()

,original,extractive,abstractive
0,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를...,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를...,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 벼를 심었던 논에 벼 대...
1,여수시는 원도심 일대에서 추진된 컬러빌리지 사업을 지난해 말 마무리하며 색채와 빛의...,여수시는 원도심 일대에서 추진된 컬러빌리지 사업을 지난해 말 마무리하며 색채와 빛의...,여수시는 컬러빌리지 사업에 8억원을 투입하여 ‘색채와 빛’ 도시를 완성하여 고소천사...
2,전남드래곤즈(사장 신승재)는 지난 4일 구봉산 해맞이 행사를 통해 새해 각오를 다졌...,"신승재 사장은“유상철 감독을 비롯한 코칭스텝, 선수단 구성이 마무리 된 만큼 구성원...",전남드래곤즈 임직원과 선수단이 4일 구봉산 정상에 올라 일출을 보며 2018년 구단...
3,광양시는 오는 11일부터 24일까지 농업인교육관과 읍면동 회의실에서 농업인 1050...,광양시는 오는 11일부터 24일까지 농업인교육관과 읍면동 회의실에서 농업인 1050...,"광양시는 농업인들의 경쟁력을 높이고, 소득안정을 위해 매실·감·참다래 등 지역특화작..."
4,타이완의 크루즈관광객 4000여명이 올해 두 차례에 걸쳐 여수에 입항한다. 전라남도...,전라남도는 신규시장인 타이완 크루즈 유치를 위해 해양수산부와 공동으로 지난해 상반기...,올해 4월과 6월 두 차례에 걸쳐 타이완의 크루즈 관광객 4000여명이 여수에 입항...

In [3]:
import torch

In [4]:
from transformers import BertTokenizerFast
from transformers import PreTrainedTokenizerFast, BartModel,BartForConditionalGeneration

tokenizer = PreTrainedTokenizerFast.from_pretrained('gogamza/kobart-base-v2')

model = BartForConditionalGeneration.from_pretrained('gogamza/kobart-base-v2')

device = torch.device("cuda:0")

C:\Users\dnclab\anaconda3\envs\pytorch\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
You passed along `num_labels=3` with an incompatible id to label map: {'0': 'NEGATIVE', '1': 'POSITIVE'}. The number of labels wil be overwritten to 2.
You passed along `num_labels=3` with an incompatible id to label map: {'0': 'NEGATIVE', '1': 'POSITIVE'}. The number of labels wil be overwritten to 2.

In [5]:
# Input sentence
sentence = "안녕하세요. 새로운 프로젝트인 추출 요약 모델 만들기를 시작합니다."

# Tokenize the sentence
tokens = tokenizer.encode(sentence, add_special_tokens=True)

# Interpret the tokens
token_meanings = [tokenizer.decode(token) for token in tokens]

# Print the results
for i, (token, meaning) in enumerate(zip(tokens, token_meanings)):
    print(f"Token {i}: {meaning} (ID: {token})")

# Get the vocabulary as a dictionary
vocab_dict = tokenizer.get_vocab()

# Get the vocabulary size
vocab_size = len(tokenizer)

# Print the vocabulary size
print(f"Vocabulary Size: {vocab_size}")

Token 0: 안녕하 (ID: 27616)
Token 1: 세요. (ID: 25161)
Token 2: 새로운 (ID: 14700)
Token 3: 프로젝트 (ID: 18176)
Token 4: 인 (ID: 12037)
Token 5: 추출 (ID: 27311)
Token 6: 요약 (ID: 26200)
Token 7: 모델 (ID: 15765)
Token 8: 만들 (ID: 14397)
Token 9: 기를 (ID: 14241)
Token 10: 시작 (ID: 14351)
Token 11: 합니다. (ID: 20357)
Vocabulary Size: 30000

In [6]:
# 각 셀의 글자 길이를 계산하여 새로운 열로 추가
for column in df.columns:
    df[column + '_length'] = df[column].apply(lambda x: len(str(x)))

In [7]:
import pandas as pd

# 여기서 df는 데이터프레임 변수입니다.
row_count = len(df)
print("행의 갯수:", row_count)

행의 갯수: 243983

In [8]:
# 데이터프레임에서 NaN 값 제거 또는 대체
df = df.dropna()  # NaN 값을 가진 행 제거

In [9]:
import pandas as pd

# 여기서 df는 데이터프레임 변수입니다.
row_count = len(df)
print("행의 갯수:", row_count)

행의 갯수: 237752

In [10]:
df.head()

,original,extractive,abstractive,original_length,extractive_length,abstractive_length
0,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를...,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를...,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 벼를 심었던 논에 벼 대...,738,190,155
1,여수시는 원도심 일대에서 추진된 컬러빌리지 사업을 지난해 말 마무리하며 색채와 빛의...,여수시는 원도심 일대에서 추진된 컬러빌리지 사업을 지난해 말 마무리하며 색채와 빛의...,여수시는 컬러빌리지 사업에 8억원을 투입하여 ‘색채와 빛’ 도시를 완성하여 고소천사...,429,121,120
2,전남드래곤즈(사장 신승재)는 지난 4일 구봉산 해맞이 행사를 통해 새해 각오를 다졌...,"신승재 사장은“유상철 감독을 비롯한 코칭스텝, 선수단 구성이 마무리 된 만큼 구성원...",전남드래곤즈 임직원과 선수단이 4일 구봉산 정상에 올라 일출을 보며 2018년 구단...,351,148,68
3,광양시는 오는 11일부터 24일까지 농업인교육관과 읍면동 회의실에서 농업인 1050...,광양시는 오는 11일부터 24일까지 농업인교육관과 읍면동 회의실에서 농업인 1050...,"광양시는 농업인들의 경쟁력을 높이고, 소득안정을 위해 매실·감·참다래 등 지역특화작...",511,211,68
4,타이완의 크루즈관광객 4000여명이 올해 두 차례에 걸쳐 여수에 입항한다. 전라남도...,전라남도는 신규시장인 타이완 크루즈 유치를 위해 해양수산부와 공동으로 지난해 상반기...,올해 4월과 6월 두 차례에 걸쳐 타이완의 크루즈 관광객 4000여명이 여수에 입항...,517,86,66

In [11]:
# 최대 길이 계산 (NaN 값을 제외하고)
max_length1 = max(df['original'].dropna().apply(len), default=0)

# 결과 출력
print("가장 긴 original 문장 길이: ", max_length1)

# Retrieve the sentence corresponding to the maximum length
sentence_with_max_length1 = df.loc[max_length1, 'original']

print("문장 내용: ", sentence_with_max_length1)

가장 긴 original 문장 길이:  7023
문장 내용:  해남군은 기후변화 대응 농업연구단지 유치 추진단을 중심으로 유치 붐 조성을 위한 범군민 서명운동을 전개했다. 해남군이 기후변화 대응 농업연구단지 유치에 나선 가운데 유치 기원 서명자가 2만명을 돌파하는 등 분위기가 고조되고 있다. 17일 해남군에 따르면 기후변화 대응 농업연구단지 유치 범군민 서명운동 결과 현재까지 2만3000여명의 군민들이 서명에 동참했다. 지난 6월17일부터 7월12일까지 한 달간 전개된 서명운동은 군청과 유관기관, 읍·면사무소, 마을이장 등이 중심이 돼 적극 참여한 결과 전체 인구의 30%가 넘는 인원이 함께 했다. 해남군은 지난 6월11일 민·관·학계가 총망라된 기후변화 대응 농업연구단지 유치 추진단 발족과 함께 범군민 유치 붐 조성을 위한 서명운동을 전개해 오고 있다. 군은 앞으로도 유치 추진단을 중심으로 사회단체, 청소년, 관광객 등 서명운동을 확대하고, 시장·축제·각종 행사 등 거리 유치 서명운동도 병행할 계획이다. 해남군은 지난 3월 김영록 도지사와 해남군민과의 대화에서 기후변화 대응 농업연구단지 유치를 건의했다. 이와 관련 명현관 군수는 도지사 및 농림축산식품부장관을 찾아 기후변화 대응 농업연구단지 유치 건의를 위한 면담을 실시했다. 해남군의회에서도 도지사 면담 및 유치 결의문을 채택하고, 지역 언론인도 유치 성명서를 발표하는 등 기후변화 대응 농업연구단지 유치에 총력을 기울이고 있다. 기후변화 대응 농업연구단지 조성사업은 2019년부터 2023년까지 농업연구소, 아열대작물 실증센터 등 한반도 기후변화에 대응하는 농업연구단지를 국제적 규모로 조성하는 사업으로, 부지면적 120㏊ 규모에 총사업비 1835억원이 투자되는 사업이다. /해남=박희석 기자 dia@

In [12]:
# 최대 길이 계산 (NaN 값을 제외하고)
max_length2 = max(df['extractive'].dropna().apply(len), default=0)

# 결과 출력
print("가장 긴 extractive 문장 길이: ", max_length2)

# Retrieve the sentence corresponding to the maximum length
sentence_with_max_length2 = df.loc[max_length2, 'extractive']

print("문장 내용: ", sentence_with_max_length2)

가장 긴 extractive 문장 길이:  927
문장 내용:  오는 8월 8일부터 10일까지 열리는 제 1회 섬의 날 행사를 50여일 앞두고 행사 총감독을 위촉하는 등 본격 행사준비에 돌입했다. 섬의 날 행사는 기존 단순 기념식 위주로 진행되는 국가 기념일과는 달리 섬 주민은 물론 일반국민 모두가 참여하고 즐길 수 있는 축제형‘썸머 페스티벌(한여름 밤의 축제)’형식으로 진행된다. 한편 섬의 날은 섬을 소재로 하는 다양하고 의미 있는 프로그램을 통해 섬의 중요성과 가치를 국민에게 널리 알리고 국민적 공감대를 만들어 섬을 통해 새로운 미래 성장 동력을 만드는 계기를 마련하기 위해 제정됐다.

In [13]:
# 문장 토큰화
tokens1 = tokenizer.tokenize(sentence_with_max_length1)
tokens2 = tokenizer.tokenize(sentence_with_max_length2)

# 토큰의 길이 출력
print("가장 긴 original 문장의 토큰 길이: ", len(tokens1))
print("가장 긴 extractive 문장의 토큰 길이: ", len(tokens2))

가장 긴 original 문장의 토큰 길이:  363
가장 긴 extractive 문장의 토큰 길이:  115

In [14]:
# 제외할 열 목록
columns_to_keep = ["original", "extractive"]

# 제외할 열을 제외한 모든 열을 삭제
df = df[columns_to_keep]

In [15]:
df.head()

,original,extractive
0,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를...,전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를...
1,여수시는 원도심 일대에서 추진된 컬러빌리지 사업을 지난해 말 마무리하며 색채와 빛의...,여수시는 원도심 일대에서 추진된 컬러빌리지 사업을 지난해 말 마무리하며 색채와 빛의...
2,전남드래곤즈(사장 신승재)는 지난 4일 구봉산 해맞이 행사를 통해 새해 각오를 다졌...,"신승재 사장은“유상철 감독을 비롯한 코칭스텝, 선수단 구성이 마무리 된 만큼 구성원..."
3,광양시는 오는 11일부터 24일까지 농업인교육관과 읍면동 회의실에서 농업인 1050...,광양시는 오는 11일부터 24일까지 농업인교육관과 읍면동 회의실에서 농업인 1050...
4,타이완의 크루즈관광객 4000여명이 올해 두 차례에 걸쳐 여수에 입항한다. 전라남도...,전라남도는 신규시장인 타이완 크루즈 유치를 위해 해양수산부와 공동으로 지난해 상반기...

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split

# 1열과 2열을 각각 features(X)와 labels(y)로 설정
x = df['original']
y = df['extractive']

# train 데이터와 test 데이터로 나누기 (4:1 비율)
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.1, random_state=42)

# 나눈 데이터의 크기 확인 (예시로 출력)
print("Train 데이터 크기:", x_train.shape[0])
print("Valid 데이터 크기:", x_valid.shape[0])

Train 데이터 크기: 213976
Valid 데이터 크기: 23776

In [17]:
#기존 임베딩 크기
print(model.config.vocab_size)

30000

In [18]:
import torch
from torch.utils.data import Dataset
from torch.nn.utils.rnn import pad_sequence

# sumDataset 클래스 정의
class sumDataset(Dataset):
    def __init__(self, original, extractive, tokenizer):
        self.original = original
        self.extractive = extractive
        self.tokenizer = tokenizer

    def __len__(self):
        return len(self.original)


    def __getitem__(self, idx):
        original_text = self.original[idx]
        extractive_text = self.extractive[idx]

        # 토크나이징 및 패딩 수행
        inputs = self.tokenizer(
            text=original_text,
            padding="max_length",  # 필요한 경우 max_length 설정
            truncation=True,       # 필요한 경우 문장 자르기 설정
            return_tensors="pt",   # PyTorch 텐서로 반환
            max_length=512,
            )

        outputs = self.tokenizer(
            text=extractive_text,
            padding="max_length",  # 필요한 경우 max_length 설정
            truncation=True,       # 필요한 경우 문장 자르기 설정
            return_tensors="pt",   # PyTorch 텐서로 반환
            max_length=512,
            )

        # 모델 입력을 포함하는 딕셔너리 반환
        sample = {
            'input_ids': inputs.input_ids.squeeze(),
            'attention_mask': inputs.attention_mask.squeeze(),
            'labels': outputs.input_ids.squeeze()  # 예시로 labels에 input_ids를 사용하도록 설정
        }

        return sample



# dialectDataset 클래스를 사용하여 훈련 및 검증 데이터셋 생성
train_dataset = sumDataset(x_train.values, y_train.values,tokenizer)
valid_dataset = sumDataset(x_valid.values, y_valid.values,tokenizer)

In [19]:
# 첫 번째 샘플 얻기
first_sample = train_dataset[0]
print(first_sample)

{'input_ids': tensor([14141, 28545, 19808, 15884, 14143, 11270, 10305, 13714, 11374, 18823,
        22148, 16849, 20747, 16593, 20260, 10443, 29929, 14048, 17488, 14134,
        17721, 24990, 15964, 14141, 28545, 19808, 15884, 14143, 11270, 10305,
        13714, 11374, 18823, 22148, 16849, 20747, 16593, 20260, 10443, 29929,
        14048, 17488, 14134, 17721, 24990, 15964, 16635, 16309, 14267, 11374,
        20169, 14655, 14193, 10305, 13714, 11374, 18823, 13282, 19206, 14267,
        11374, 12124, 10868,  9120, 16110, 15310, 14404, 17414, 13590, 19263,
        20626, 21394,  9190, 14469, 15061, 17975, 14251, 18657, 14130, 14141,
        16667,  9120, 16415, 15973,  9501, 21209, 14147, 20747, 10432, 14308,
          250, 16445, 29929, 14048, 14522, 19808, 14412, 15430, 20747, 16593,
        20260, 10443, 22392, 15964, 14193, 10305, 13714, 11374, 18823, 13282,
        19206, 20841, 14032,   373, 13230, 25227, 16910, 14048, 14053, 22723,
        19808, 14058, 16127, 15162, 20747, 14801, 10500, 14585,  9908, 14130,
        14233, 16253, 17244, 15521, 16227, 21306, 15724, 12041, 23461, 14038,
        14862, 18892, 14150, 14267, 11374,  9173, 18823, 22148, 17682, 12344,
          239,   315, 29739,   245,   303,   318, 19542, 17005, 27372,   310,
        16716, 16352, 21275, 20747, 14368, 19553, 14267, 11374,  9173, 14604,
        14128, 19973, 17688, 22308, 15310, 15183,   243, 21306, 14469, 15440,
        14267, 11374, 12024, 14328, 15310, 14404, 16215, 10890, 14032, 14082,
        15667, 17525, 12024, 15167, 14556, 12007, 29443, 14765, 17739, 15897,
        14033, 14163, 14827, 14128, 16506, 26966, 17071, 14807, 14267, 11374,
        12024, 15361, 14912, 11863, 14032, 10313, 13590, 15046,  9133, 14382,
        18417, 14032, 14821, 18823, 13282, 16253, 14585, 21146, 20292, 14116,
        11911,  9123, 14680, 25744,   318,   302,   263,   309, 17941,   299,
        14889, 17225, 16738,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3]), 'attention_mask': tensor([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0]), 'labels': tensor([14141, 28545, 19808, 15884, 14143, 11270, 10305, 13714, 11374, 18823,
        22148, 16849, 20747, 16593, 20260, 10443, 29929, 14048, 17488, 14134,
        17721, 24990, 15964, 14267, 11374,  9173, 14604, 14128, 19973, 17688,
        22308, 15310, 15183,   243, 21306, 14469, 15440, 14267, 11374, 12024,
        14328, 15310, 14404, 16215, 10890, 14032, 14082, 15667, 17525, 12024,
        15167, 14556, 12007, 29443, 14765, 17739, 15897, 14033, 14163, 14827,
        14128, 16506, 26966, 17071, 14807, 14267, 11374, 12024, 15361, 14912,
        11863, 14032, 10313, 13590, 15046,  9133, 14382, 18417, 14032, 14821,
        18823, 13282, 16253, 14585, 21146, 20292,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3,     3,     3,     3,     3,     3,     3,     3,     3,
            3,     3])}

In [20]:
import evaluate

rouge = evaluate.load("rouge")

In [21]:
import numpy as np

def compute_metrics(eval_pred):
    predictions, labels = eval_pred
    decoded_preds = tokenizer.batch_decode(predictions, skip_special_tokens=True)
    labels = np.where(labels != -100, labels, tokenizer.pad_token_id)
    decoded_labels = tokenizer.batch_decode(labels, skip_special_tokens=True)

    result = rouge.compute(predictions=decoded_preds, references=decoded_labels, use_stemmer=True)

    prediction_lens = [np.count_nonzero(pred != tokenizer.pad_token_id) for pred in predictions]
    result["gen_len"] = np.mean(prediction_lens)

    return {k: round(v, 4) for k, v in result.items()}

In [23]:
from transformers import TrainingArguments
from transformers import Trainer
from transformers import DataCollatorWithPadding
from transformers import EvalPrediction

# 파인튜닝을 위한 훈련 설정
training_args = TrainingArguments(
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    output_dir="./model/bart1",
    weight_decay=0.01,
    #logging_dir="./model/bart1",
    #logging_steps=10,
    num_train_epochs=5,
    #save_total_limit=1,  # 저장할 최대 모델 수, 1개만 자동으로 저장
)


# Trainer 객체 생성
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=valid_dataset,
    compute_metrics=compute_metrics

)

In [24]:
# 파인튜닝 실행
trainer.train()

# 파인튜닝된 모델 저장
trainer.save_model()

Failed to detect the name of this notebook, you can set it manually with the WANDB_NOTEBOOK_NAME environment variable to enable code saving.
wandb: Currently logged in as: hjs3545 (nlp_learning). Use `wandb login --relogin` to force relogin